// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "~bootswatch/dist/lux/variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/dist/lux/bootswatch";

html,
body {
    margin: 0;
    padding: 0;
}